<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setembro Amarelo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>

        body{
            background-color: #ffffdf;
        }
        
        .destaque{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        .destaque p{
            width: 600px;
            font-size: 1.2rem;
            
        }

        .destaque p img{
            width: 500px;

        }
    </style>
</head>
<body>
    <main class="container-lg">
       
        <h1 class="text-center">Setembro Amarelo</h1>

        <hr>
        
        <section class="destaque">
            <div>
                <h2>O que é o Setembro Amarelo?</h2>
                <p>Bem-vindo ao nosso espaço dedicado ao "Setembro Amarelo". Este é um mês de conscientização e diálogo que busca iluminar um tema crucial: a saúde mental. Durante todo o mês de setembro, unimos nossas vozes para quebrar o silêncio em torno das questões relacionadas à saúde mental, promovendo o entendimento, a empatia e o apoio. Aqui, você encontrará recursos, histórias inspiradoras e informações essenciais para ajudar a construir uma sociedade mais compassiva, onde cada indivíduo se sinta valorizado e compreendido. Junte-se a nós nesta jornada de esperança, solidariedade e transformação. O Setembro Amarelo é um lembrete de que, juntos, podemos fazer a diferença na vida de quem mais precisa.
                </p>
            </div>
            <p><img src="https://cdn.pixabay.com/photo/2016/06/20/07/03/ribbon-1468171_1280.png" alt=""></p>
            
        </section>

        <section class="destaque">
            
            <p><img src="https://media.tenor.com/5puQL0RL-cgAAAAC/regina-rouca-se-liga.gif" alt=""></p>
            <article>
                <h2>Por que é importante falar sobre a valorização da vida?</h2>
                <p>A vida é um presente precioso, repleto de momentos incríveis e desafios imprevisíveis. No entanto, muitas vezes, esquecemos de apreciar essa dádiva e enfrentamos obstáculos que nos deixam em silêncio. É aí que entra a importância de falar sobre a valorização da vida.

                    Ao discutir abertamente questões relacionadas à saúde mental, emoções e dificuldades pessoais, podemos criar um ambiente de apoio onde as pessoas se sintam ouvidas e compreendidas. "Se Liga, Hei!" é um lembrete para estarmos atentos aos sinais de sofrimento ao nosso redor.
                    
                    Abrir o diálogo sobre saúde mental não apenas remove o estigma, mas também salva vidas. É uma oportunidade de mostrar que ninguém está sozinho em suas lutas e que há ajuda disponível. Juntos, podemos criar uma rede de apoio e amor que fortalece nossas comunidades.
                    
                    Então, vamos falar, compartilhar histórias, e estender a mão quando alguém precisar. Quando nos unimos para valorizar a vida, construímos um mundo mais compassivo, resiliente e cheio de esperança. Se liga, hei! A vida é valiosa demais para ficar em silêncio.</p>
            </article>        
            
        </section>
    </main>
</body>
</html>