<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor Express Js</title>
</head>
<body>
    <main>
        <h1>Boas Vindas ao Servidor  ExpressJs </h1>
        <hr>
        <p>Essa é a Pagina Inicial</p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat rem tempora nam non quasi delectus saepe commodi soluta quia quis corrupti quaerat, voluptate enim doloremque beatae temporibus! Sint, nulla assumenda.
        </p>

        <ul>
            <% for( banda of bandas) { %>
            <li><%- banda %></li>
            <% } %>
        </ul>
        <p><a href="/">Inicial</a> | <a href="/sobre">Sobre</a> | <a href="/contato">Contato</a></p>
    </main>
</body>
</html>