<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor Express Js</title>
</head>
<body>
    <main>
        <h1>Pagina Sobre</h1>
        <hr>
        <details>
            <summary>
                Algo muito importante pode estar escondido sob seus olhos Clique e descubra
            </summary>
            <p>Para de ser curioso e volta pro código</p>
        </details>
        <p><a href="/">Inicial</a> | <a href="/sobre">Sobre</a> | <a href="/contato">Contato</a> </p>
    </main>
</body>
</html>